clerk_backend_api
python-multipart
poethepoet
fastapi
redis
celery
svix
sqlmodel
SQLAlchemy
boto3
asyncpg
flower
requests
qdrant-client 
openai
langchain
langchain-core
langgraph
langchain-text-splitters 
langchain-qdrant 
langchain-openai
langchain-tavily
sse-starlette
debugpy
asgiref