clerk_backend_api
python-multipart
poethepoet
fastapi
redis
celery
svix
sqlmodel
SQLAlchemy
boto3
asyncpg
flower
requests
qdrant-client 
openai
langchain-text-splitters 
langchain-qdrant 
langchain-openai
debugpy
asgiref